article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, main { display: block; }

/* mobile resets */
input[type="text"], input[type="email"], input[type="reset"], input[type="password"], input[type="search"], input[type="submit"], input[type="number"], textarea {-webkit-border-radius: 0; border-radius: 0; -webkit-appearance: none;}
select {-webkit-border-radius: 0; border-radius: 0;}
a, a:hover, a:focus, input, input:focus, select, select:focus, textarea, textarea:focus {outline: none; }
* {-webkit-tap-highlight-color: rgba(255, 255, 255, 0);} 

/* clearfix */
.cf:before, .cf:after { content: ""; display: table; }
.cf:after { clear: both; }
.cf { zoom: 1; }

/* global */
html {height: 100%; min-height: 100%; font-size: 62.5%;-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif; }
body {height: 100%; min-height: 100%; margin: 0; padding: 0; font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif; font-size: 1.6em; color: #757575;}
h1, h2, h3, h4 {font-weight: normal; margin: 0; padding: 25px 0 25px 0; padding: 2.5rem 0 2.5rem 0; line-height: 1.3em;}
h1 {font-size:32px; font-size: 3.2rem;}
h2 {font-size:24px; font-size: 2.4rem; }
h3 {font-size:20px; font-size: 2rem;}

ul, ol, li {list-style: none; padding: 0; margin: 0;}
img {max-width: 100%; height: auto; border: none; outline: none;}

a {color: #929292; text-decoration: none;}

.transition {-webkit-transition: 0.3s; -moz-transition: 0.3s; -o-transition: 0.3s; transition: 0.3s;}
.box-size {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box;}

/* containers */
#container {top: 0; left: 0; width: 100%; height: 100%;}
.section {font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif; padding: 0 325px 0 50px; padding: 0 32.5rem 0 5rem;}
.section h1 {text-align: center; border-bottom: 1px solid #eee; border-top: 1px solid #eee; margin: 50px 0; margin: 5rem 0; padding-top: 25px; padding-top: 2.5rem; }
.section li {padding-top: 2px; padding-bottom: 2px;}
.wrapper {margin: auto; max-width: 1300px;}

/* navigation */
#main-nav {color: #757575; width: 274px; background: #fff; min-height: 100%; height: 100%; overflow-x: hidden; overflow-y: auto; position: fixed; top: 0px; right: 0px; -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.1); -moz-box-shadow: 0 0 5px rgba(0,0,0,0.1); -o-box-shadow: 0 0 5px rgba(0,0,0,0.1); box-shadow: 0 0 5px rgba(0,0,0,0.1); border-left: 1px solid #eee; z-index: 2;}
#main-nav .top-area {height: auto !important; height: 100%; min-height: 100%; margin-bottom: -70px;}
#main-nav .logo-holder {padding: 40px 50px;}
#main-nav .logo-holder a {display: block;}
#main-nav ul.nav {padding: 0 0 65px 0;}
#main-nav ul.nav li {width: 100%;}
#main-nav ul.nav li > a {padding: 15px 25px; border-bottom: 1px solid #eee; display: block; color: #757575; text-decoration: none; font-size: 15px; font-size: 1.5rem; text-transform: uppercase;-webkit-transition: 0.3s; -moz-transition: 0.3s; -o-transition: 0.3s; transition: 0.3s;}
#main-nav ul.nav li > a:hover {color: #929292; background: #fcfcfc;}
#main-nav ul.nav li:first-child > a {border-top: 1px solid #eee;}
#main-nav ul.nav li ul li a {padding-left: 50px;}
#main-nav ul.nav li ul li:first-child a {border-top: none;}

#main-nav ul.social {width: 100%; padding: 10px 25px; height: 70px;}
#main-nav ul.social li {float: left; width: 20%; padding: 0 2.5%; height: 50px; text-align: center;}
#main-nav ul.social li a {display: inline-block; height: 50px; width: 50px; background-image: url(http://placehold.it/40x40); background-repeat: no-repeat; background-position: center center;}

/* intro area */
#intro {background: #929292; height: 100%; min-height: 100%; color: #fff; text-align: center;height: 100%; min-height: 100%; }
#intro .wrapper {height: 100%; min-height: 100%;}
#intro .wrapper table {width: 100%; height: 100%;}
#intro .wrapper table tr td {vertical-align: middle;}

#intro h1, #intro h2, #intro h3 {padding-bottom: 10px; padding-bottom: 1rem; border: none; margin: 0;}
#intro h1 {font-size:64px; font-size: 6.4rem; text-align: center;}
#intro h2 {font-size:32px; font-size: 3.2rem;}
#intro h3 {font-size:24px; font-size: 2.4rem; }

/* footer */
#footer {padding-top: 25px; padding-bottom: 25px; background: #929292; text-align: center; color: #fff; margin-top: 50px;}
#footer a {color: #fff; font-weight: bold;}
#footer p {margin: 0; padding: 0;}

/* mobile/oldIE header */
.mob-header {display: none; height: 50px; position: fixed; width: 100%; top: 0; left: 0; background: #fff; z-index: 1; border-bottom: 1px solid #eee;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.1); -moz-box-shadow: 0 0 5px rgba(0,0,0,0.1); -o-box-shadow: 0 0 5px rgba(0,0,0,0.1); box-shadow: 0 0 5px rgba(0,0,0,0.1);
    -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);}
.mobile-logo {height: 20px; padding: 15px 0; float: left;}
.mobile-opener {height: auto; width: 30px; padding: 15px 0; float: right; cursor: pointer;}
.mobile-opener span {width: 100%; height: 20px; display: block; background: #757575; height: 2px; margin-top: 7px; position: relative;}
.mobile-opener span:first-child {margin-top: 0;}

/* mob opener open state */
.open-nav #mob-header .mobile-opener span:first-child {-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg); top: 9px;}
.open-nav #mob-header .mobile-opener span:nth-child(2) {opacity: 0;}
.open-nav #mob-header .mobile-opener span:last-child {-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-o-transform: rotate(-45deg);transform: rotate(-45deg); bottom: 9px;}

/* old IE styles */
.ie9 .mob-header,
.oldie .mob-header {display: block;}
.ie9 #main-nav,
.oldie #main-nav {display: none;}
.ie9 .section,
.oldie .section {padding: 0 3%;}

.ie9 .open-nav .mob-header .mobile-opener,
.oldie .open-nav .mob-header .mobile-opener {position: relative; right: 275px;}
.ie9 .open-nav #main-nav,
.oldie .open-nav #main-nav {display: block;}

/* small height screen */
@media screen and (min-height: 700px){
	#main-nav .logo-holder {padding: 50px;}
	#main-nav ul.nav li > a {padding: 20px 25px;}
}

/* tablets */
@media screen and (min-width: 1400px){
    #main-nav {-webkit-transform: translate3d(0,0,0) !important;-moz-transform: translate3d(0,0,0) !important;-o-transform: translate3d(0,0,0) !important;transform: translate3d(0,0,0) !important;}
}
@media screen and (max-width: 1400px){
	.section {padding: 0 3%;}
    .mob-header {display: block; }
	#main-nav {-webkit-transform: translate3d(275px, 0, 0); -moz-transform: translate3d(275px, 0, 0); -o-transform: translate3d(275px, 0, 0); transform: translate3d(275px, 0, 0);}
}

/* mobile */
@media screen and (max-width: 600px){
	#intro h1 {line-height: 1em; margin-bottom: 2.5rem; font-size: 5rem;}
	#intro h3 {font-size: 2.2rem;}
}